
body {
overflow-x: hidden;
}
/* --------------------------------- */
#min {
    padding:20px;
    /* border-bottom: 1px solid black; */
} */
.navWritting a{
    margin: auto;
    padding: 0px 0px 0px 50px;
    float: left;
  }
  
  .navWritting> .fa {
    color: #0ba2db;
    font-size: 20px;
    font-weight: 300;
  }
  .navWritting span {
      padding-left: 10px;
  }

  .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: 500;
}
  /* -------------------------------------- */

  .intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../Assignment-3/img/intro-bg.jpg) no-repeat center center;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    -o-background-size: cover;
}
.intro .overlay {
    background: rgba(255,255,255,0.2);
}
.intro h1 {
	color: #0ba2db;
	font-size: 74px;
	font-weight: 600;
	margin-top: 0;
	text-transform: uppercase;
    margin-bottom: 10px;
    
}
.intro p {

    color: #444;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
}
.intro-text  .btn-custom {
    background-color: #0ba2db;
    margin-top: 20px;

}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #444;
}
.intro-text a {
    color: white;
    font-size: 16px;
}
/* ------------------------------------------ */
#about {
	padding: 80px 0;
}
#about h2 {
    font-weight: 300;
    font-size: 42px;
    color: #444;
    text-align:center;

}
#about hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #0ba2db;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 0;

}
#about h3 {
    font-size: 22px;
    font-weight: 300;
    color: #444;
}
#about .about-text {
	margin-left: 10px;
    float: left;
}

#about .about-text li {
	font-size: 17px;
	margin-bottom: 6px;
    color: #666;
    font-weight: 300;
	list-style: none;
	padding: 0;
}
#about .about-text li:before {
	content: "✓";
	color: #0ba2db;
	padding-right: 10px;
}

.about-text > .list-style {
    padding: 0;
    margin:0;
    width: 100%;
}
#about p {
	line-height: 24px;
    margin: 30px 0;
    color: #666;
    font-size: 18px;
    font-weight: 300;
}
.contentImg1 {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
}
.contentImg1 > img {
    border: 1px solid #0ba2db;
    border-radius: 20px;
    padding: 20px;
    background-size: cover;
    background-position: 50% 50%;
    width: 90%;
    min-width: 50%;
    height: 100%;
    float: left;
    margin-left: 30px;
    
}
 .content1 {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 20px;

    
}
/* --------------------------------------- */
.content2 {
    padding-bottom: 30px;
}
.content2 h2 {
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    color: #444;
}
.content2 p {
    text-align: center;
    font-size: 18px;
    color: #666;
    font-weight: 300;
}
.content2 hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #0ba2db;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 0;
}

#services {
	padding: 120px 0;
	background: #f6f6f6;
}
#services h4 {
	text-transform: uppercase;
}
#services .fa {
	font-size: 48px;
	margin: 20px 0;
    color: #0ba2db;
}
.content3 {
    padding:0 20px;
    margin: 0;    
}
.content3 h4 {
    font-size: 22px;
    font-weight: 400;
    color: #444;
}
.content3 p {
    color: #666;
    font-weight: 300;
    font-size: 18px;
}
.content3Inside {
    padding: 0;
    margin: 0;
    float: left;
}
/* --------------------------------------------------- */
#pricing {
    padding: 60px 0 140px 0;    
}
.section3 .section-title h2 {
    font-weight: 350;
    font-size: 42px;
    color: #444;
}
.section3 .section-title p {
    color: #666;
    font-weight: 300;
    font-size: 19px;
    color: #444;
}
.section3 .section-title hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #0ba2db;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 0;
}
#pricing .pricing-table {
	border: 1px solid #e4e4e4;
	text-align: center;
	position: relative;
	background-color: #fff;
	border-radius: 4px;
}
#pricing .row {
	margin-top: 100px;
}
#pricing .pricing-table:hover {
	z-index: 2;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
#pricing .highlight-plan {
	margin: -15px 0;
	margin-right: -1px;
	z-index: 1;
}
#pricing .pricing-table.highlight-plan .plan-name {
	background-color: #0ba2db;
	padding: 25px 0;
	border-radius: 4px 4px 0 0;
}
#pricing .pricing-table.highlight-plan .plan-name h3 {
	color: #fff;
}
#pricing .pricing-table.highlight-plan .plan-signup {
	background-color: #0ba2db;
	padding: 30px 0;
	border-radius: 0 0 4px 4px;
}
#pricing .pricing-table.highlight-plan .plan-signup .btn-system.border-btn {
	border-color: #fff;
	color: #fff;
}
.pricing-table .plan-name {
	padding: 15px 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.05) inset;
	border-bottom: 1px solid #eee;
}
.pricing-table .plan-name h3 {
	font-weight: 300;
	font-size: 32px;
}
.pricing-table .plan-price {
	padding: 25px 0;
}
.pricing-table .plan-price .price-value {
	font-size: 38px;
	line-height: 52px;
	color: #444;
}
.pricing-table .plan-price .price-value span {
	font-size: 18px;
	line-height: 18px;
}
.pricing-table.btn-system.border-btn {
	border-color: #0ba2db;
	color: #0ba2db;
}
.pricing-table .plan-list li {
    list-style: none;
	padding: 8px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
}
.pricing-table .plan-list strong {
	font-weight: 400;
}
.pricing-table .btn-system {
	padding: 10px 25px;
	display: inline-block;
	color: #fff;
	background-color: #0ba2db;
	margin-right: 5px;
	font-size: 16px;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
	border: 0;
	text-transform: uppercase;
}
.pricing-table .btn-system:hover, .pricing-table .btn-system.border-btn:hover {
	background-color: #444;
}
.pricing-table .btn-system:last-child {
	margin-right: 0;
}
.pricing-table .btn-system.border-btn {
	background-color: transparent;
	border: 1px solid;
	box-shadow: none;
}
.pricing-table .plan-list li:first-child {
	border-top: 1px solid #eee;
}
.pricing-table .plan-signup {
	padding: 25px 0;
}
.pricing-table .plan-signup a {
	text-transform: uppercase;
}
/* -------------------------------------------- */
#contact {
	padding: 120px 0 60px 0;
	background: #F6F6F6;
}
.section4 .section-title h2 {
    font-weight: 350;
    font-size: 42px;
    color: #444;
}
.section4 .section-title p {
    color: #666;
    font-weight: 300;
    font-size: 19px;
    color: #444;
}
.section .section-title hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #0ba2db;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 0;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #0ba2db;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #444;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#contact .btn-custom {
    background-color: #0ba2db;
    border: 1px solid gray;
}
#contact .btn-custom:hover{
    background-color: red;
}
/* -------------------------------------------- */
footer {
	background: #e6e6e6;
	color: #888;
	padding: 30px 0 25px 0;
	border: 1px solid #fff;
}
footer p {
    font-size: 17px;
    color: #666;
    font-weight: 300;
}
footer a {
	color: #666;
}
footer a:hover {
	color: #0ba2db;
}